@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */


@font-face {
	font-family: 'sacramento';
	src: url('vendors/webfonts/-'sacramento'Regular.ttf') format('truetype');
}

 /* ======= Your styling goes below ======= */


/* 4. Common Styling
========================================================================== */

ul{list-style-type:none;}
a{text-decoration:none;}
img{width:100%;}

body{
	padding:0px;
	margin:0px;
}

body,a{
	font-family: 'sacramento', sans-serif;
	color:#fff;
}

.container{
	background: url('../images/shelf-bg.jpg') no-repeat center;
	background-size: cover;
	padding: 600px 0px;
}

.wrapper{
	max-width: 1464px;
	width: 84.44%;
	margin:0 auto;
}
 /* 5. Header
 ========================================================================== */

 header{
 	background:#494e54;
 	position:absolute;
	bottom:10px;
	left:10px;
}

 .navigation{
	display:inline-block;
}

.navigation__links {
	font-size:40px;
	padding:10px 60px;
	display: inline-block;
}
/* 5. main
 ========================================================================== */
 /* 5.1 Banner */
 .banner{
 	background: url('../images/header-01.jpg') no-repeat center;
 	background-size: cover;
 	padding: 1000px 0px;
 }
 .banner .wrapper{
 	padding: 40px 0px 40px;
 }
.banner h1{
	position:absolute;
	top:40px;
	left:20px;
	font-size:80px;
	font-weight: 400;
}
.banner p{
	font-size: 40px;
}